<div>
  <section>
    <p>Las más destacadas</p>
    <section class="trending-section">
      <div class="poster-container">
        <img
          class="poster-image"
          src="https://image.tmdb.org/t/p/original/8j58iEBw9pOXFD2L0nt0ZXeHviB.jpg"
          alt="{{ title }}"
        />
        <p>Erase una vez</p>
      </div>
      <div class="poster-container">
        <img
          class="poster-image"
          src="https://image.tmdb.org/t/p/original/8j58iEBw9pOXFD2L0nt0ZXeHviB.jpg"
          alt="{{ title }}"
        />
        <p>Erase una vez</p>
      </div>
      <div class="poster-container">
        <img
          class="poster-image"
          src="https://image.tmdb.org/t/p/original/8j58iEBw9pOXFD2L0nt0ZXeHviB.jpg"
          alt="{{ title }}"
        />
        <p>Erase una vez</p>
      </div>
      <div class="poster-container">
        <img
          class="poster-image"
          src="https://image.tmdb.org/t/p/original/8j58iEBw9pOXFD2L0nt0ZXeHviB.jpg"
          alt="{{ title }}"
        />
        <p>Erase una vez</p>
      </div>
    </section>
  </section>
</div>
